body {
    background-color: lightblue;
    text-align:center;
}

h2{
background-color: skyblue;
padding: 25px 50px;
margin: -10px -50px;
text-align:center;
border-radius: 30px 30px 0 0;
}

input[type=text],input[type=password]{
width: 80%;
height: 20px;
padding: 5px;
margin-bottom: 10px;
margin-top: 10px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}


div.main{
width: 300px;
padding: 10px 50px 25px;
border: 2px solid gray;
border-radius: 30px;
font-family: raleway;
float:left;
}
